<nav>
    <div class="d-flex justify-content-between bg-success text-white p-3 align-items-center">
        <div>
            <h3>User Management System</h3>
        </div>
        <div class="">
            <ul class="d-flex list-unstyled align-items-center">
                <li class="" routerLink="">Home</li> 
                <li class="ms-5 " routerLink="/adduser" routerLinkActive="active">Add User</li> 
            </ul>
        </div>
    </div>
    <h3 class="d-flex justify-content-center">User Management System Using JSON Server</h3>
</nav>