<div class="container">
    <button (click)="addNewUser()" class="btn btn-success mt-3">Add User</button>
    <!-- <table class="table mt-4">
        <thead class="col-6">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>UserName</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Update</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>

            @for(data of apiData; track data){
            <tr>

                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.userName}}</td>
                <td>{{data.city}}</td>
                <td>{{data.state}}</td>
                <td>{{data.zipCode}}</td>
                <td>
                    <button class="btn btn-warning" (click)="onUpdate(data.id)">Update</button>
                </td>
                <td>
                    <button class="btn btn-secondary" (click)="onView(data.id)">View</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(data.id)">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table> -->
</div>

<div class="container">
    <div class="row">
        @for(data of apiData; track data){
        <div class="col-12 col-md-6 col-lg-4 p-4">
            <div class="row card p-3">
                <div class=" col card-body m-0 p-0">
                    <h4 class="title w-50 m-auto mb-2">hello user</h4>
                    <p class="card-text"><strong>Frist Name:</strong> {{data.firstName}}</p>
                    <p class="card-text"><strong>Last Name:</strong> {{data.lastName}}</p>
                    <p class="card-text"><strong>User Name: </strong> &#64;{{data.userName}}</p>
                    <p class="card-text"><strong>City:</strong> {{data.city}}</p>
                    <p class="card-text"><strong>State:</strong> {{data.state}}</p>
                    <p class="card-text"><strong>Zip Code:</strong> {{data.zipCode}}</p>
                </div>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-warning mt-2" (click)="onUpdate(data.id)">Update</button> 
                    <button class="btn btn-danger mt-2" (click)="onDelete(data.id)">Delete</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>